:root{
    --headerColor: grey;
    --mainColor: darkgrey;
    --footerColor: grey;
    --fontColor: #dddddd;
    --overlayFallbackColor: black;
    --overlayColor: #00000090;
    --overlay-button-hover: #00000095;
    --min-card-width: 16.7%;
}
html, body{
    margin: 0;
}
.grid{
    display: grid;
    grid-template:
        "header header header" 10vh
        ". main ." 80vh
        "footer footer footer" 10vh
        / 10vw 80vw 10vw;
}
header{
    grid-area: header;
    background-color: var(--headerColor);
}
header .header-flex-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--overlayFallbackColor);
    background-color: var(--overlayColor);
    overflow: hidden;
    transition: 0.5s;
}
.overlay button{
    position: absolute;
    top: 1vh;
    right: 1vw;
    background-color: transparent;
    border-color: transparent;
}
.overlay button a{
    font-size: 5vw;
    text-decoration: none;
    color: var(--fontColor);
}
.overlay-content{
position: relative;
top: 20%;
width: 100%;
text-align: center;
margin-top: 30px;
}
.overlay-content ul{
    list-style-type: none;
    padding-inline-start: 0;
    display: block;
    font-size: 5vw;
}
.overlay-content ul li{
    padding: 10px;
}
.overlay-content ul a{
    text-decoration: none;
    color: whitesmoke;
}
.overlay li:hover, .overlay li:focus{
    color: white;
    background-color: var(--overlay-button-hover);
}
main{
    width: 100%;
    height: 100%;
    grid-area: main;
    background-color: var(--mainColor);
}
.main-grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:
         "title title title" 10%
         ". . ." 80%
         "description description description"
         / 33.3% 33.3% 33.3%;

}
.title{
    grid-area: title;
    width: 100%;
    height: 100%;
    background-color: maroon;
    transition: 0.5s;
    animation: shadow 1s ease-in-out 1;
}
.description{
    grid-area: description;
    width: 100%;
    height: 100%;
    background-color: darkred;
}
.main-grid img{
    width: 100%;
    height: 100%;
}
.image-zoom-container{
    position: relative;
}
.image-zoom-lens{
    position: absolute;
    border: 1px solid black;
    width: 60px;
    height: 60px;
}
.image-zoom{
 border: 1px solid black;
 border-radius: 2px;
 width: 320px;
 height: 320px;
}
footer{
    grid-area: footer;
    background-color: var(--footerColor);
}
@keyframes shadow{

  }
  @media screen and (max-width: 1200px){
      .main-grid{
          grid-template: "title title title title" auto;
      }
  }
  @media screen and (max-width: 700px){
    .overlay button a{
        font-size: 10vw;
    }
    .overlay-content ul a{
        font-size: 10vw;
    }
  }
  @media screen and (max-width: 380px){
      .overlay-content{
        top: 25%;
      }
  }